@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import "tailwindcss";

@keyframes gradient-move {
  0%   { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
* {
  font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
.custom-serif {
  font-family: 'Inria Serif', serif;
  font-weight: 400;
}
.custom-serif-bold {
  font-family: 'Inria Serif', serif;
  font-weight: 700;
}
.custom-serif-italic {
  font-family: 'Inria Serif', serif;
  font-weight: 400;
  font-style: italic;
}
.custom-serif-bold-italic {
  font-family: 'Inria Serif', serif;
  font-weight: 700;
  font-style: italic;
}
.custom-color {
  background: linear-gradient(
    90deg,
    rgba(98, 91, 73, 1) 0%,
    rgba(200, 186, 149, 1) 40%,
    rgba(200, 186, 149, 1) 60%,
    rgba(98, 91, 73, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;

  background-size: 200% 100%;
  animation: gradient-move 3s ease-in-out infinite alternate;
  will-change: background-position;
}
.custom-bg {
  background: linear-gradient(53deg, rgba(200, 186, 149, 1) 0%, rgba(149, 138, 111, 1) 40%, rgba(200, 186, 149, 1) 72%, rgba(149, 138, 111, 1) 100%);
  background-size: 200% 200%;
  background-position: left center;
  transition: all 0.3s ease-in-out;
  border: 0.5px solid transparent;

  background-size: 200% 100%;
  animation: gradient-move 3s ease-in-out infinite alternate;
  will-change: background-position;
}
.custom-bg:hover {
  cursor: pointer;
  background: white;
  color: #958A6F;
  border: 0.5px solid #958A6F;
}