---
const year = new Date().getFullYear();
---

<footer class="w-full bg-black text-gray-500 py-3 text-center bottom-0">
  <p class="text-xs">
    © {year} João Marcos Landi Sousa &nbsp;•&nbsp; CNPJ 59.698.287/0001-18
  </p>
</footer>
